        * {
            box-sizing: border-box;
            margin:0;
            padding:0;
        } 
        header {
            background-color: gray;
            width: 1200px;
            height: 185px;
        }
        nav {
            background-color: whitesmoke;
            width: 1200px;
            height: 70px;
        }
        aside {
            background-color: salmon;
            width: 280px;
            height: 1000px;
            float: left;
        }
        main {
            background-color: orangered;
            width: 1200px;
            height: 1000px;
            
        }
        
        }
        article {
            background-color: orchid;
            width: 920px;
            height: 1000px;
            float: left;
        }
        footer {
            background-color: purple;
            width: 1200px;
            height: 200px;
        }
        #caixa {
            width: 1200px;
            margin: 0 auto;
        }
        
        
        



