/* Comentário */

/*
sintaxe:
elemento {propriedade:valor; 
    propriedade: valor}
    */
    /* Seletor de elemento */
    h1 {
        color: blue;
        text-align: center;
        font-size: 60px;
        font-family: 'Amatic SC', cursive;
        }
    /* Srletor de id */
    #paragrafo1 {
        color: chocolate;
        text-align: left;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    #paragrafo2 {
        color: deepskyblue;
        text-align: left;
        font-size: 20px;
        font-family: cursive;
        font-weight: bold;
        font-style: italic;
        background-color: gold;
    }
    /* Chamando classes */
    .grupo1 {
        font-size: 50px;

    }
    .grupo2 {
        color: magenta;
    }
    